/* CSS Variables */
:root {
    --accent: rgb(231, 65, 25);
    --primary: rgb(234, 212, 103);
    --primarydark: rgb(135, 62, 13);
    --secondary: rgb(235, 227, 208);
}

body, html {
    margin: 0px;
}

#root {
    background-color: #ddd;
    font-family: 'Mukta', sans-serif;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "landing"
    "navigation"
    "promo"
    "menu"
    "footer";
    grid-template-rows: auto repeat(4, min-content);
}

#landing {
    height: 1000px;
    width: 100vw;
    background: url(../res/CrawlingCrabLogo.jpg);
    background-attachment: fixed;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing > h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#landing > a {
    position: fixed;
    bottom: 0.5%;
    left: 50%;
    color: var(--accent);
    background-color: rgba(234, 212, 103, 0.6);
    padding: 8px 12px 2px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    transition: all 2s ease;
}

#hor > h1 {
    font-size: 5rem;
    margin: 0px;
}

#hor > p {
    margin: 0px;
    font-size: 1.5rem;
}

#hours {
    text-align: center;
    background-color: var(--secondary);
    border-bottom: 5px double var(--accent);
    border-top: 5px double var(--accent);
}
#hours-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hours-detail {
    border: 2px solid black;
    margin: 48px;
}

.hours-detail > h1 {
    margin: 0;
}

.hours-detail > h4, .hours-detail > h5, .hours-detail > h6 {
    font-size: 3rem;
    margin: 0px;
}

#info > #connect {
    display: flex;
    justify-content: space-evenly;
}

#navigation {
    background-color: var(--accent);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#navigation > i {
    display: none;
}

#navigation > ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
    padding: 0;
}

#navigation > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#navigation a:link {
    text-decoration: none;
}

#navigation a, #navigation li {
    color: var(--primary);
}

#navigation a:hover, #navigation li:hover {
    color: var(--primarydark);
}

#promo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100vw;
    background: url(../res/CC2.jpg);
    background-position: 0% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#disclaimer {
    background-color: rgba(0,0,0,0.2);
    border: 3px solid black;
    padding: 0px 16px;
    color: var(--primary);
}

#promotion {
    text-align: center;
    border-top: 5px dotted black;
    border-bottom: 5px dotted black;
    padding-bottom: 9px;
}
#promotion > h1 {
    color: white;
    font-family: 'Abril Fatface';
    font-size: 5rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
    letter-spacing: 20px;
}

#promotion > p {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin: 0px;
}

#promotion > h3 {
    font-size: 2rem;
    color: var(--primary);
    letter-spacing: 1.5px;
    margin: 0px;
}

#promotion > h4 {
    color: var(--primary);
    font-family: 'Lobster', 'Courier New', Courier, monospace;
    font-weight: 100;
    margin: 0px;
    letter-spacing: 4px;
}

#promotion > h3:hover {
    border: 3px solid black;
}

#promotion > h2 {
    color: var(--accent);
}


#menuitems {
    display: grid;
    grid-template-rows: repeat(3, auto)
}

#stepone {
    display: grid;
    grid-template-rows: min-content auto;
}

#steponegrid {
    display: grid;
    grid-template-columns: 15% auto;
}

#steponegrid > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#steponegrid > ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content auto;
}

#steponegrid > ul > img {
    width: 100%;
}

#steponegrid > ul > li {
    list-style: none;
    text-align: center;
}

.steps > h2 {
    display: flex;
    justify-content: center;
}

#steptwo {
    display: grid;
    grid-template-rows: repeat(3,min-content);
}

#steptwo > ul > li {
    list-style: none;
    text-align: center;
}

#steptwo > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#steptwo > #steptwogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 16px;
}

#steptwogrid > img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

#menupic {
    display: flex;
    justify-content: center;
}

.fa-facebook {
    color: rgb(59,89,152);
}

.fa-phone-square {
    color: rgb(20, 238, 57);
}

strong {
    transition: 0.65s font-size ease, 0.50s opacity ease;
    opacity: 0.1;
}

strong:hover {
    opacity: 1;
}


#meat-volume, #sauce-selections {
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.meat-volume-divs, .sauce-divs, .meat-selection-divs {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

img {
    height: 200px;
    width: 200px;
}

#meat-selections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#order {
    margin: 16px;
}

#order-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'current-order' 'order';
} 

.meal-order {
    border: 1px solid black;
    padding: 0px 8px;
}
.meal-order p,
.meal-order h4 {
    display: inline;
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #eee;
    padding: 12px;
}
.content {
    padding: 2px 16px;
}
.container-meal, #container-sauce {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 18px;
}
#container-meat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    padding: 18px;
}
#container h1{
    text-align: center;
}
#order-container{
    display: flex;
    justify-content: center;
}
#container {
    width: 50vw;
}

#border{
    border: 2px solid black;
}

#footer {
    display: grid;
    grid-template-rows: auto min-content; 
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--secondary);
    padding: 0px 36px;
}

#footer-bottom > div {
    display: flex;
    justify-content: space-around;
    width: auto;
}

@media (max-width: 768px) {
    #landing {
        height: 616px;
        background: url(../res/CrawlingCrabLogo.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #navigation {
        height: 40px;
        display: flex;
        align-items: center;
    }
    #navigation > i {
        display: inline;
        padding: 12px;
        background-color: rgb(231, 65, 25);
    }

    #navigation > i:hover {
        background-color: rgb(240, 112, 81);
    }

    #navigation > ul > li {
        display: none;
    }

    #hor > h1 {
        font-size: 7vw;
        margin: 0px;
    }

    #hor > p {
        font-size: 4vw;
        margin: 0px;
    }

    .hours-detail {
        border: 2px solid black;
        margin: 8px;
    }

    .hours-detail > h3 {
        font-size: 3vw;
    }

    .hours-detail > h6 {
        font-size: 5vw;
    }
}